
<nav id="main-menu" class="header">
    <div id="main-menu-left">
      <div class="logo">FlashCardz</div>
      <a (click)="navigate('home')" *ngIf="!userIsLoggedIn">Home
        <div class="underline"></div>
      </a>
      <a (click)="navigate('explore')" *ngIf="userIsLoggedIn"  >Explore
        <div class="underline"></div>
      </a>
      <a (click)="navigate('create')" *ngIf="userIsLoggedIn"  >Create
        <div class="underline"></div>
      </a>
      <a (click)="navigate('yourDecks')" *ngIf="userIsLoggedIn">Your Decks
        <div class="underline"></div>
      </a>
    </div>
    <div id="main-menu-right"> 
      <a id="logbtn" (click)="navigate('login')" *ngIf="!userIsLoggedIn">Login</a>
      <a id="signbtn" (click)="navigate('signin')" *ngIf="!userIsLoggedIn">Signup</a>

      <div *ngIf="userIsLoggedIn" (click)="toggleMenu2()">
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>
  </nav>
  
  <nav id="hamburger-menu" class="header">
    <div id="menu-left">
      <div class="logo">FlashCardz</div>
    </div>

    <div id="menu-right">
        <button id="ham-menu" (click)="toggleMenu()">
            <div class="hamburger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
          </button>
          <!-- <div  (click)="toggleMenu()">dfsf</div> -->
    </div>
  </nav>

  <div id="sidebar-menu" *ngIf="isMenuVisible" class="header">
    <div class="top-sideBar">
        <button (click)="toggleMenu()">x</button>
    </div>
    
    <div class="sidebar-links2">
      <div class="profileInfo">
        <!-- <div id= "userIconCirc2" *ngIf="userIsLoggedIn" ></div> -->
        <img id= "userIconCirc2" *ngIf="userIsLoggedIn" src="{{profileImg}}">
        <h5>{{ fullName }}</h5>
        <h6>{{ userEmail }}</h6>
      </div>
        <div id= "updateAccount">
          <a class="btn" (click)="navigate('home')" *ngIf="!userIsLoggedIn">Home
            <div class="underline"></div>
        </a>
        <a class="btn" *ngIf="userIsLoggedIn"  (click)="navigate('explore')">Explore
            <div class="underline"></div>
        </a>
        <a class="btn" *ngIf="userIsLoggedIn"  (click)="navigate('create')">Create
            <div class="underline"></div>
        </a>
        <a class="btn"  (click)="navigate('yourDecks')" *ngIf="userIsLoggedIn">YourDecks
          <div class="underline"></div>
      </a>
          <h1 class="btn" (click) = "moreOption()" *ngIf="userIsLoggedIn">Update Account Info</h1>
          <div *ngIf="m === 'active'">
            <label for="fName">First Name</label>
          <input id="fnameInput" [(ngModel)]="updatedfName" type="text" placeholder="{{ firstName }}">

          <label for="lName">Last Name</label>
          <input id="lnameInput" [(ngModel)]="updatedlName" type="text" placeholder="{{ lastName }}">

          <button id="updateUser"  (click)="updateUserInfo()">Save</button>
          <button id="updateUser"  (click)="moreOption()">Close</button>
          </div>
          <h1 class="btn" (click) = "uploadOption()">Upload Profile Image</h1>
          <div *ngIf="u === 'active'">
            <input  type="file" id="profileImageInput" #upload  >

          <button id="updateUser"  (click)="uploadFile(upload)">Upload</button>
          <button id="updateUser"  (click)="uploadOption()">Close</button>
          </div>
          <h1 class="btn" (click) = "deleteOption()" *ngIf="userIsLoggedIn">Delete Account</h1>
          <div *ngIf="d === 'active'"> 
            <button id="deleteUser" (click)="deleteCurrentUser()">Yes, Delete Account</button>
            <button id="deleteUser" (click) = "deleteOption()">No, Close</button>
          </div>
          <h1 class="btn2" *ngIf="userIsLoggedIn" (click)="logoutUser()">Logout</h1>
          <a class="btn2"  (click)="navigate('login')" *ngIf="!userIsLoggedIn">Login
        </a>
        <a class="btn2"  (click)="navigate('signin')" *ngIf="!userIsLoggedIn">Signup
        </a>

        </div>
        
    </div>
  </div>


  <div id="sidebar-menu" *ngIf="isMenuVisible2" class="header">
    <div class="top-sideBar">
        <button (click)="toggleMenu2()">x</button>
    </div>
    <div class="sidebar-links2">
      <div class="profileInfo">
        <!-- <div id= "userIconCirc2"></div> -->
        
        <!-- <img id= "userIconCirc2" src="{{profileImg}}"> -->
        <img id="userIconCirc2" *ngIf="profileImg; else defaultProfileImage" [src]="profileImg" alt="">
<ng-template #defaultProfileImage>
    <img id="userIconCirc2" src="../assets/images/icons8-user-default-50.png" alt="Default Profile Image">
</ng-template>
        <h5>{{ fullName }}</h5>
        <h6>{{ userEmail }}</h6>
      </div>

        <div id= "updateAccount">
          <h1 class="btn" (click) = "moreOption()">Update Account Info</h1>
          <div *ngIf="m === 'active'">
            <label for="fName">First Name</label>
          <input id="fnameInput" [(ngModel)]="updatedfName" type="text" placeholder="{{ firstName }}">

          <label for="lName">Last Name</label>
          <input id="lnameInput" [(ngModel)]="updatedlName" type="text" placeholder="{{ lastName }}">

          <button id="updateUser"  (click)="updateUserInfo()">Save</button>
          <button id="updateUser"  (click)="moreOption()">Close</button>
          </div>
          <h1 class="btn" (click) = "uploadOption()">Upload Profile Image</h1>
          <div *ngIf="u === 'active'">
            <input type="file" id="profileImageInput" #upload  >

          <button id="updateUser"  (click)="uploadFile(upload)">Upload</button>
          <button id="updateUser"  (click)="uploadOption()">Close</button>
          </div>
          <h1 class="btn" (click) = "deleteOption()">Delete Account</h1>
          <div *ngIf="d === 'active'"> 
            <button id="deleteUser" (click)="deleteCurrentUser()">Yes, Delete Account</button>
            <button id="deleteUser" (click) = "deleteOption()">No, Close</button>
          </div>
          <h1 class="btn2" *ngIf="userIsLoggedIn" (click)="logoutUser()">Logout</h1>

        </div>
        
    </div>
  </div>
  


<router-outlet></router-outlet>



<footer class="footer">
  <div class="footer-content">
    <div class="columns">
      <div class="column">
        <h2>About Us</h2>
        <p>About Flashcardz</p>
        <p>How it works</p>
        <p>Careers</p>
        <p>Get the app</p>
      </div>
      <div class="column">
        <h2>For Learners</h2>
        <p>Flashcards</p>
        <p>Learn</p>
        <p>Tutors</p>
        <p>Helpers Lab</p>

      </div>
      <div class="column">
        <h2>Resources</h2>
        <p>Help Center</p>
        <p>Community guidelines</p>
        <p>Privacy</p>
        <p>Terms</p>
        </div>
    </div>
    

   
  </div>

  <div class="footer-bottom">
    <p>Copyright & copy <span id="year">2023</span> <a style="padding-left: 30px;">Marielle Harrell</a> </p>
    <div class="footer-menu">
      <ul class="f-menu">
        <li><a (click)="navigate('home')" >Home</a></li>
        <li><a (click)="navigate('explore')" >Explore</a></li>
        <li><a (click)="navigate('create')">Create</a></li>
      </ul>
    </div>
  </div>
</footer>